.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 150px;

    color: white;
}

@media (max-width: 600px) {
    .wrapper {
        padding: 20px;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title span {
    font-size: 2rem;
}

.articles {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 800px) {
    .articles {
        width: 100%;
    }
}

.pageButtons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.error {
    color: rgb(255, 50, 50);
}