.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 60px;
    padding: 20px 15px;
    box-sizing: border-box;
    width: 100%;

    border-top: 1px solid var(--ui-border);
    background-color: var(--ui-shade-2);
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.section a {
    color: #b8bcc6;

    transition: color 0.15s ease;
}

.section a:hover {
    color: white;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 60px;
}

.typographyIcon {
    width: 30px;
    height: 30px !important;
}

.typographyText {
    font-size: 1.5rem;
}

.copyrightNotice {
    color: #9aa0ac;
    font-size: 0.85rem;
}

.copyrightNotice a {
    color: #b8bcc6;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}