@font-face {
    font-family: "JetBrains Mono";
    src: url("../public/fonts/jetbrainsmono.ttf");
}

body {
    margin: 0;
    overflow-x: hidden;

    background-color: #161616;
}

* {
    font-family: "JetBrains Mono";
}

::-webkit-scrollbar {
    width: 10px;

    background-color: #424242;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar-corner {
    background-color: #919191;
}