@font-face {
    font-family: "JetBrains Mono";
    src: url("../public/fonts/jetbrainsmono.ttf");
}

body {
    margin: 0;

    background-color: #161616;
}

@media (max-width: 900px) {
    body {
        background-color: #242424;
    }
}

* {
    font-family: "JetBrains Mono";
}