@font-face {
    font-family: "JetBrains Mono";
    src: url("../public/fonts/jetbrainsmono.ttf");
}

@font-face {
    font-family: "Noto Sans";
    src: url("../public/fonts/notosans.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("../public/fonts/nunito.ttf")
}

:root {
    --ui-blue: #4a8dff;
    --ui-lavender: #6a5ae0;

    --accent: #4aa8ff;
    --accent-gradient: linear-gradient(120deg, #4aa8ff, #6a5ae0);

    --ui-shade-1: #0c0e13;
    --ui-shade-2: #12141b;
    --ui-shade-3: #191c24;
    --ui-shade-4: #252932;
    --ui-shade-5: #333845;
    --ui-shade-6: #3a4150;
    --ui-shade-7: #4c5568;

    --ui-border: rgba(255, 255, 255, 0.07);

    --rt-color-dark: #111 !important;
}

body {
    margin: 0;
    overflow-x: hidden;

    background-color: var(--ui-shade-1);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Noto Sans";
}

::selection {
    background-color: rgba(74, 168, 255, 0.35);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;

    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
