.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    background-color: var(--ui-shade-2);
}

@media (max-width: 660px) {
    .navigationBar {
        flex-direction: column;
        row-gap: 10px;
    }
}

.navigationBarSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuButton {
    cursor: pointer;
    transition-duration: 0.3s;
}

.menuButton:hover {
    transform: scale(1.05);
}

.title {
    color: white;
    font-family: "JetBrains Mono";
    font-size: 2rem;
    letter-spacing: -2px;
}