.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    background-color: #1d1d1d;
}

@media (max-width: 580px) {
    .navigationBar {
        flex-direction: column;
        row-gap: 10px;
    }
}

.navigationBarSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuButton {
    cursor: pointer;
    transition-duration: 0.3s;
}

.menuButton:hover {
    transform: scale(1.05);
}

.title {
    color: white;
    font-size: 2rem;
}