.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    background-color: #242424;

    overflow-y: auto;
}

@media (max-width: 900px) {
    .wrapper {
        overflow-y: visible;
    }
}

.title {
    text-align: center;
    padding: 5px 10px;

    border-radius: 10px;
    background-color: #467de8;
    color: white;
    font-family: "JetBrains Mono";
    font-size: 2.5rem;
}

@media (max-width: 900px) {
    .title {
        display: none;
    }
}

.stateTreeTraverserPlaceholder {
    display: flex;
    width: 100%;
    min-height: 60px;
}