.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;

    padding: 8px;
    width: min(450px, 100%);

    border-radius: 10px;
    background-color: var(--ui-shade-3);
}

.tagMetadata {
    display: flex;
    align-items: center;
    gap: 10px;
    
    position: relative;
}

.formatSelector {
    display: flex;
    gap: 10px;
    padding: 5px;

    border-radius: 10px;
    background-color: var(--ui-shade-3);
}

.editor {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
    height: 500px;
    box-sizing: border-box;

    border-radius: 10px;
    background-color: var(--ui-shade-3);
}

@media (max-width: 900px) {
    .editor {
        width: 100%;
    }
}

.editorContent {
    padding: 10px;
    width: 100%;
    word-break: break-all;
    overflow: auto;

    border: none;
    background-color: var(--ui-shade-2);
    font-size: 1.1rem;
    color: white;

    resize: none;
}

.editorContent a {
    color: white;
}

.editorContent img {
    width: 100%;
}