/* Contains player profiles and board container */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Contains eval bar and board */
.boardContainer {
    display: grid;
    grid-template-columns: 40px auto;
}

/* Chess board itself */
.board {
    min-width: 250px;
}

/* Board size */
@media (max-width: 900px) {
    .board {
        width: calc(70vw - 40px);
    }
}

@media (max-width: 650px) {
    .board {
        width: calc(100vw - 40px);
    }
}

/* The evaluation bar */
.evaluationBar {
    display: flex;

    width: 40px;
    height: 100%;

    background-color: gray;
}