.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Contains eval bar and board */
.boardContainer {
    display: grid;
    grid-template-columns: 40px auto;
}

/* Chess board itself */
.board {
    width: 600px;
}

/* Board size based on window WIDTH queries */
@media (max-width: 1065px) {
    .board {
        width: 500px;
    }
}

@media (max-width: 960px) {
    .board {
        width: 430px !important;
    }
}

@media (max-width: 900px) {
    .board {
        width: calc(70vw - 40px) !important;
    }
}

@media (max-width: 650px) {
    .board {
        width: calc(100vw - 40px) !important;
    }
}

/* Board size based on window HEIGHT queries */
@media (max-height: 850px) and (min-width: 1065px) {
    .board {
        width: 540px;
    }
}

@media (max-height: 800px) {
    .board {
        width: 490px;
    }
}

@media (max-height: 750px) {
    .board {
        width: 440px;
    }
}

@media (max-height: 700px) {
    .board {
        width: 390px;
    }
}

/* The evaluation bar */
.evaluationBar {
    display: flex;

    width: 40px;
    height: 100%;

    background-color: gray;
}