.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    padding-top: 7px;

    border-radius: 10px;
    background-color: #323232;
}

.depth {
    color: gray;
    font-size: 0.7rem;
}

.engineLine {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
    width: 100%;

    color: white;
}

.engineLineSeparator {
    margin: 0;
    width: 100%;
    height: 1px;

    border-width: 1px 0 0 0;
    border-color: #a5a5a5;
}

.evaluation {
    padding: 2px 5px;

    border-radius: 10px;
}