.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px 10px;

    width: min(800px, 100%);
}

.toolbar {
    display: flex;
    align-items: center;
}

.toolbarLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.4rem;
    color: white;
}

.selection {
    display: flex;
    align-items: center;
    gap: 20px;

    color: white;
}

.selection > a {
    color: var(--ui-blue);
    text-decoration: underline;

    cursor: pointer;
    transition-duration: 0.3s;
}

.selection > a:hover {
    filter: brightness(1.2);
}

.toolbarRight {
    display: flex;
    gap: 10px;
}

.games {
    display: flex;
    flex-direction: column;

    overflow-x: auto;
}