.image {
    width: 80px;

    border-radius: 20px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileInfo > * {
    flex-grow: 1;
}

.profileText {
    display: flex;
    flex-direction: column;
}

.connections {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.connectionIcon {
    transition-duration: 0.3s;
}

.connectionIcon:hover {
    filter: brightness(0.8);
}

.subheader {
    color: rgb(179, 179, 179);
    font-size: 0.9rem;
    overflow-wrap: anywhere;
    width: 250px;
}