/* Announcement and navigation bar */
.topSection {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100%;
}

/* Markdown component in announcement banner */
.announcementMarkdown * {
    margin: 0;
    color: white;
}

/* Sidebar and the main content frame */
.contentSection {
    display: grid;
    grid-template-columns: 170px auto;

    width: 100%;
}

@media (max-width: 1100px) {
    .contentSection {
        display: flex;
    }
}

/* Main content frame */
.content {
    grid-column: 2 / 3;

    width: 100%;
}