.topSection {
    position: sticky;
    top: 0;
    z-index: 1;

    width: 100%;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 170px auto;

    width: 100%;
}

@media (max-width: 1230px) {
    .contentWrapper {
        display: flex;
    }
}

.content {
    grid-column: 2 / 3;

    width: 100%;
}