.wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
}

.messageContent {
    padding: 0 20px;
    width: min(100%, 800px);
    height: 100%;
    text-align: center;

    color: white;
}