/* Contains player profiles and board container */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Contains eval bar and board */
.boardContainer {
    display: flex;

    width: 100%;
}

/* Chess board itself */
.board {
    min-width: 250px;

    width: calc(100% - 40px);
}

/* Board size for mobile layout */
@media (max-width: 900px) {
    .board {
        width: calc(70vw - 40px);
    }
}

@media (max-width: 650px) {
    .board {
        width: calc(100vw - 40px);
    }
}

.playableMoveCircle {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
}

.capturableMoveCircle {
    position: absolute;
    width: 80%;
    height: 80%;

    border-radius: 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0);
}