.wrapper {
    display: grid;
    grid-template-columns: auto 385px;

    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .wrapper {
        display: flex;
        flex-direction: column;

        background-color: #242424;
    }
}

.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

@media (max-width: 900px) {
    .gameContainer {
        align-items: start;

        padding: 0;

        background-color: #292929;
    }
}

.reportContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    background-color: #242424;
}

.title {
    text-align: center;
    padding: 5px 10px;

    border-radius: 10px;
    background-color: #467de8;
    color: white;
    font-size: 2.5rem;
}

@media (max-width: 900px) {
    .title {
        display: none;
    }
}

.error {
    padding: 5px 0;
    text-align: center;

    background-color: rgba(239, 65, 70, 0.4);
    border-radius: 10px;
    
    color: white;
}