.wrapper {
    display: grid;
    grid-template-columns: auto 385px;

    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 100vw 100px;
    }
}

.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}

.reportPanel {
    background-color: #242424;
}