.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    height: 100%;

    padding: 30px;
}

.wrapper h1 {
    margin: 0;
}

.editor {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;
}

.announcementBox {
    text-align: center;

    width: 100%;
    height: 50px;

    border: 3px solid #242424;
    border-radius: 5px;
    background-color: #111111;
    color: white;
    font-size: 1rem;
}

.announcementMarkdown * {
    margin: 0;
    color: white;
}

.buttonBar {
    display: flex;
    gap: 20px;
}