.gameListing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    min-width: 100%;
    padding: 10px;
    box-sizing: border-box;

    border-radius: 10px;
}

.selectableListing {
    cursor: pointer;
    transition-duration: 0.3s;
}

.selectableListing:hover {
    backdrop-filter: brightness(0.9);
}

.timeControlIcon {
    filter: brightness(0) invert();
    width: 100%;
}

.resultIconContainer {
    display: flex;
    align-items: center;

    width: 20px;
}

.playerProfile {
    display: flex;
    gap: 5px;
    
    margin: 2px;
}

.playerTitle {
    background-color: #b54040;
    border-radius: 5px;
    padding: 2px;
}