.gameListing {
    display: flex;
    justify-content: center;
    
    width: max(100%, 600px);
}

.selectableListing {
    cursor: pointer;
    transition-duration: 0.3s;
}

.selectableListing:hover {
    backdrop-filter: brightness(0.9);
}

.gameListing > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.playerInfo {
    padding: 4px;
}

.playerInfo span {
    margin-right: 5px;
}

.playerTitle {
    background-color: #b54040;
    border-radius: 5px;
    padding: 2px;
}

.playerRating {
    color: grey;
}