@keyframes slide {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    left: 0;
    width: 170px;
    height: 100%;
    z-index: 1;

    background-color: #242424;
    color: white;
}

@media (max-width: 1230px) {
    .sidebar {
        box-shadow: 0 0 15px #000000;
        clip-path: inset(0 -15px 0 0);
    }
}

.sidebarClosed {
    left: -200px;

    animation-name: slide;
    animation-timing-function: ease-out;
    animation-direction: reverse;
}

@media (min-width: 1231px) {
    .sidebarClosed {
        left: 0;
    }
}

.sidebarOpen {
    left: 0;

    animation-name: slide;
    animation-timing-function: ease-out;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}